<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div th:replace="fragments/buttons/logout"></div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a th:replace="fragments/files/nav :: link"></a>
                        <a th:replace="fragments/notes/nav :: link"></a>
                        <a th:replace="fragments/credentials/nav :: link"></a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!-- Fragment: files nav -->
                    <div th:replace="fragments/files/nav :: tab(files=${files})"></div>

                    <!-- Fragment: note nav -->
                    <div th:replace="fragments/notes/nav :: tab(notes=${notes})"></div>

                    <!-- Fragment: credential nav -->
                    <div th:replace="fragments/credentials/nav :: tab(credentials=${credentials})"></div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(note) {
                let actionUrl = '/home/note';
                $('#note-id').val(note?.noteId);
                $('#note-title').val(note?.noteTitle);
                $('#note-description').val(note?.noteDescription);
                if (note) {
                    actionUrl = actionUrl + '/edit';
                } else {
                    actionUrl = actionUrl + '/add';
                }
                $('#note-modal-form').attr('action', actionUrl);
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credential) {
                let actionUrl = '/home/credential'
                $('#credential-id').val(credential?.credentialId);
                $('#credential-url').val(credential?.url);
                $('#credential-username').val(credential?.username);
                $('#credential-password').val(credential?.decryptedPassword);
                if (credential) {
                    actionUrl = actionUrl + '/edit';
                } else {
                    actionUrl = actionUrl + '/add';
                }
                $('#credential-modal-form').attr('action', actionUrl);
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>
