<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:fragment="link" class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
    <div th:fragment="tab(credentials)" class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
      <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
        + Add a New Credential
      </button>

      <!-- Fragment: credential table -->
      <div th:replace="fragments/credentials/table :: table(credentials=${credentials})"></div>

      <!-- Fragment: credential modal -->
      <div th:replace="fragments/credentials/modal"></div>
    </div>
</body>
</html>