<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table table-striped" th:object="${credentials}" id="credentialTable">
      <thead>
        <tr>
          <th style="width: 20%" scope="col"></th>
          <th style="width: 35%" scope="col">URL</th>
          <th style="width: 20%" scope="col">Username</th>
          <th style="width: 25%" scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="credential: ${credentials}">
        <td>
          <button type="button" class="btn btn-success"
                  th:credential-id="${credential.credentialId}"
                  th:credential-url="${credential.url}"
                  th:credential-username="${credential.username}"
                  th:credential-password="${credential.password}"
                  th:credential-decrypted-password="${credential.decryptedPassword}"
                  onclick="showCredentialModal({
                                'credentialId': this.getAttribute('credential-id'),
                                'url': this.getAttribute('credential-url'),
                                'username': this.getAttribute('credential-username'),
                                'password': this.getAttribute('credential-password'),
                                'decryptedPassword': this.getAttribute('credential-decrypted-password'),
                            })"
          >
            Edit
          </button>
          <form action="#" th:action="@{/home/credential/delete}" method="POST">
            <input type="hidden" id="deleteCredentialId" name="credentialId"
                   th:value="${credential.credentialId}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
        <th scope="row" th:text="${credential.url}"></th>
        <td th:text="${credential.username}"></td>
        <td th:text="${credential.password}"></td>
      </tr>
      </tbody>
    </table>
</body>
</html>